Project1/.vs/Project1/FileContentIndex/3b2baec0-f915-4d60-8be1-08fad9bf7f8f.vsidx
Project1/.vs/Project1/FileContentIndex/7e7a5e35-0be3-4dd5-869f-ec96fb5d5e81.vsidx
Project1/.vs/Project1/FileContentIndex/read.lock
Project1/.vs/Project1/v17/.suo
Project1/.vs/Project1/v17/Browse.VC.db
Project1/.vs/Project1/v17/Browse.VC.db-shm
Project1/.vs/Project1/v17/Browse.VC.db-wal
Project1/.vs/Project1/v17/Browse.VC.opendb
Project1/.vs/Project1/v17/ipch/AutoPCH/1af28c52f260cb2a/SOURCE.ipch
Project1/Project1/x64/Debug/Project1.exe.recipe
Project1/Project1/x64/Debug/Project1.ilk
Project1/Project1/x64/Debug/Project1.log
Project1/Project1/x64/Debug/Source.obj
Project1/Project1/x64/Debug/vc143.idb
Project1/Project1/x64/Debug/vc143.pdb
Project1/Project1/x64/Debug/Project1.tlog/CL.command.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/Cl.items.tlog
Project1/Project1/x64/Debug/Project1.tlog/CL.read.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/CL.write.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/link.command.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/link.read.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/link.write.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/Project1.lastbuildstate
Project1/x64/Debug/Project1.exe
Project1/x64/Debug/Project1.pdb
